* {
   /* border: 1px solid red;*/
}

body {
    background-color: #fff0dd;
    font-size: 15px;
    color: #00002e;
}

button {
    padding: 5px;
    color: white;
    text-align: center;
    box-shadow: 1px 3px #888888;
    background-color: #0000ff;
}

.header {
    font-size: 28px;
    font-weight: bold;
    color: #ff1313;
    background-color: #fffafd;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
}

.description {
    text-align: center;
    font-style: italic;
}

.calc {
    margin-top: 10px;
    background-color: #ffff99;
    margin-left: 10px;
    padding: 1%;
}

.result {
    background-color: #fff0dd;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    background-color: #fffafd;
    text-align: center;
}
