/*
Dominant color: #000066
Secondary color: #ffe6b3
Complementary color: #ffffe6
Text Color: #000000
*/

* {
	box-sizing: border-box;
	/*border: 1px solid red;*/ /*beta-testing box, hide this when it's done*/
	font-family: 'Lucida bright', Lucida, serif;
	font-size: 14px;
	color: #000000;
}

html {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #000066;
}

.header, .footer {
	text-align: center;
	background-color: #ffe6b3;
}
.header img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

h3, h1 {
    font-size: 22px;
    margin: 1%;
    padding: 1%;
}

.header h1 {
	font-size: 24px;
}

.navbar {
    background-color: #000000;
    color: #ffe6b3;
    padding: 2%;
}

.navbar a, a:active, a:visited {
    text-decoration: none;
    color: #ffe6b3;
    font-size: 18px;
    padding: 2%;
}

#actual {
    color: #000000;
    background-color: #ffe6b3;
}

.post, .gallery {
    background-color: #ffffe6;
    margin: 2%;
    padding: 0.5%;
}

.post {
    padding-left: 1%;
}

.gallery table {
	border-collapse: collapse;
	width: 100%;
}

.gallery th, td {
	padding: 1%;
	max-width: 75%;
}

.gallery tr:nth-child(even) {
	background-color: #ffe6b3;
}

.gallery img {
	max-width: 150px;
	height: auto;
}

.description span {
	font-style: italic;
	font-size: 15px;
	text-shadow: 1px 1px 1px white;
}

.description {
	width: 75%;
}


button {
	background-color: #000066;
	color: #ffe6b3;
	padding: 15px 32px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button:hover {
	background-color: #ffe6b3;
	color: #000066;
	border: 3px solid #000066;
}

.footer {
    padding: 3px;
}

.author {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.footer a {
	color: #000066;
}
