* {
   /* border: 1px solid red;*/
}

body {
    background-color: #fff0dd;
    font-size: 15px;
    color: #00002e;
}

button {
    padding: 16px;
    font-size: 16px;
    color: #00002e;
    text-align: center;
    box-shadow: 1px 3px #888888;
    background-color: #80dfff;
    margin: 16px;
}

.header {
    font-size: 28px;
    font-weight: bold;
    color: #ff1313;
    text-align: center;
    background-color: #fffafd;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
}

.footer {
	margin-top: 25%;
	padding: 10px;
    background-color: #fffafd;
    text-align: center;
}
