#author {
    font-style: italic;
}

.Custom_table-scrollable {
    position: relative;
    height: 25em;
    overflow: auto;
    display: block;
}

.Custom_table-scrollable thead {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
