/*
COLORS:
#134818
#94290B
 #D53419
#241B5F

#DDD9F3
#18152A
*/

/*https://cssgradient.io/*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.1em;
}

body {
    background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
}

.header {
    font-size: 1.6em;
    text-align: center;
    background-color: #134818;
    background-image: radial-gradient( circle 759px at 14% 22.3%,  rgba(10,64,88,1) 0%, rgba(15,164,102,1) 90% );
    color: #DDD9F3;
    padding: 1em;
}

.navbar {
    text-align: right;
    font-size: 1.2em;
    background-color: #241B5F;
    color: black;
    margin-bottom: 0.2em;
    padding: 0.4em;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #DDD9F3;
    background-color: #130A4D;
    padding: 0.4em;
    padding-left: 0;
    padding-right: 0;
}

a.navbar {
    background-color: #231A5D;
    color: #DDD9F3;
}

a.navbar:hover, a.navbar:focus {
    color: #231A5D;
    background-color: #DDD9F3;
}

a.navbar:active {
    color: #231A5D;
    background-color: #DDD9F3;
}

.content {
    margin: 1em;
    font-size: 1.0em;
    padding: 0.2em;
    /*background-color: #134818;*/
    color: #DDD9F3;
    background-image: linear-gradient(120deg, #241B5F 0%, #134818 100%);
}

.userdata {
    font-size: 1.0em;
    margin-left: 25%;
}

.insert {
    position: relative;
    width: 50%;
}

.submit {
    width: 50%;
}

input {
    width: 100%;
    color: #DDD9F3;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 0;
    border-bottom-color: hsla(185, 100%, 62%, 0.2);
}

input:focus {
    outline: none;
}

span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: #DDD9F3;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: all 0.3s ease;
}

input:focus ~ span {
    transform: translate(-50%, 0) scaleX(1);
    opacity: 1;
}

.radio {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
}

.radio input[type=radio] {
    border: 1px solid #DDD9F3;
    width: 1em;
    color: #DDD9F3;
    background-color: #241B5F;
}

input[type=submit] {
    border: 2px groove #DDD9F3;
    color: #DDD9F3;
    background-color: #241B5F;
}

input[type=submit]:hover {
    border: 2px groove #DDD9F3;
    background-color: #DDD9F3;
    color: #241B5F;
}

.subcontent {
    margin: 0.5em;
    padding: 0.2em;
    background-color: #006622;
    background-image: radial-gradient( circle 759px at 14% 22.3%,  rgba(10,64,88,1) 0%, rgba(15,164,102,1) 90% );
    color: #DDD9F3;
}

.footer {
    padding: 1em;
    font-size: 0.7em;
    background-color: #231A5D;
    color: #DDD9F3;
}

.footbar {
    padding: 0.3em;
    margin-top: 0.2em;
    background-image: radial-gradient( circle 759px at 14% 22.3%,  rgba(10,64,88,1) 0%, rgba(15,164,102,1) 90% );
    color: white;
}

.footbar a {
    padding: 0 1em 0 1em;
    text-align: center;
}
